.centeredDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.lightBaseColor{
  color: #F3F3F3;
}

p, address{
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.3rem;
}

main{
  background-color: #1D1D1D;
  height: calc(100vh - 3rem);
  padding: 1.5rem;
}

footer{
  height: 3rem;
  background-color: #F3F3F3;
}

address{
  padding-top: 3rem;
  font-weight: bold;
}


#description{
  padding-top: 2rem;
}

#main-logo{
  height: 130px;
}

@media (max-width: 600px) {
  #main-logo {
    height: 80px;
  }
}