.centeredDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.lightBaseColor{
  color: #F3F3F3;
}

p, address{
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.3rem;
}

main{
  background-color: #1D1D1D;
  min-height: calc(100vh - 3rem);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/square.png');
  background-repeat: repeat;
  background-size: 50px 50px;
  animation: animatedBackground 50s linear infinite;
}

footer{
  height: 3rem;
  background-color: #F3F3F3;
}

address{
  padding-top: 3rem;
  font-weight: bold;
}


#description{
  padding-top: 2rem;
}

#main-logo{
  height: 130px;
}

@media (max-width: 600px) {
  #main-logo {
    height: 80px;
  }
}


@media only screen and (min-width : 820px) {
  body {
    animation: animatedBackground 60s linear infinite;
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 100% 100%;
  }
}